@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">This assignment shows how to edit the default/generic web application created by the system.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment1.html" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Summary</h2>
        <p>
           Click the "Phones" tab at the menu and it will automatically show the list of all phones. 
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Detail</h2>
        <p>At the phone page, click the "Details" link at the end of each record to display the detail of each phone.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add New Phone</h2>
        <p>At the phone page, click the "Add New" link just below the summary heading and it will display a form to be filled up.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>