@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 5</h1>
    <p class="lead">This web application uses get all, get one, add new use cases for Album, MediaType and Track entities with associated data.
    In addition, it uses also the selectlist class and some Bootstrap.
    </p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment5.html" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>SelectList Class</h2>
        <p>
          This is a class use to package data needed by HTML forms for item-selection element. <br/>
          <em>Source: https://scs.senecac.on.ca/~wei.song/int422/lectures/INT422-Lecture5-2.html </em>
        </p>
        <p><a class="btn btn-default" href="https://scs.senecac.on.ca/~wei.song/int422/lectures/INT422-Lecture5-2.html" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Bootstrap</h2>
        <p>Formatted CSS codes that were implemented as elements and class selectors to create a responsive and visual consintency web pages.<br/>
        <em>Source: https://scs.senecac.on.ca/~wei.song/int422/lectures/INT422-Lecture5.html </em>
    </p>
        <p><a class="btn btn-default" href="http://getbootstrap.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>