@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This simple ASP.NET project enables a user to list all employees stored in the database and edit contact information of any employee.  
    In addition, this web application apply LINQ concept to filter the records to be displayed.
</p>

<p>
    <strong>Programmer:</strong>&nbsp;&nbsp;ANCHETA, Jesus Jr.<br />
    <strong>Student ID:</strong>&nbsp;&nbsp;&nbsp;&nbsp;017 433 152 <br />
    <strong>Course:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INT422SBB
</p>

