@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASSIGNMENT 3</h1>
    <p class="lead">This web application shows how to edit a record in the database using 2 different view model classes, one for displaying properties to the HTML form for the user
     and one for properties to be edited. In addition, it shows also how to use LINQ. 
    </p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment3.html" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Employee entity</h2>
        <p>
            To view the list of all employees, click the <strong>Employees</strong> tab at the menu.  Inside this page, you can edit contact 
            information of each employee by clicking the link <strong>Edit</strong> at the end of each employee listing.  
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Track entity</h2>
        <p>
            To view the list of all tracks, click the <strong>Tracks</strong> tab the above menu.  The page will display automatically all tracks
            arranged in ascending order by AlbumId and alphabetically arranged by Name.  Other links are also available in this page to filter the list.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>