@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 8</h1>
    <p class="lead">Security-aware and claims-based web app, with persistence. Design your own data model.</p>
    <p><a href="http://janchetajr-wa2016-a8.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Assignment 8 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About this webapp</h2>
        <p>Includes all the features or use cases like Get all, Get one, Add new, Edit existing and Delete Existing.</p>
        <p>Security features were added also just like defining role claims in a design model class and limit access to some controllers to certain users.</p>
        <p>Create and load initial data to database with "load data" task and with a function to remove data also.</p>
    </div>
    <div class="col-md-6">
        <h2>Deploy webapp to Azure</h2>
        <p>Create account with Microsoft Azure and added new resources (database servers, databases, app services).</p>
        <p>Copy connection string for the database from Azure.</p>
        <p>Enable migrations and publish web app using Visual Studio.</p>
    </div>
</div>