@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This simple ASP.NET project enables a user to list all employees stored in the database and displays information of one employee.  In addition, this web application allows
    also the user to add new employee to the database. 
</p>

<p>
    <strong>Programmer:</strong>&nbsp;&nbsp;ANCHETA, Jesus Jr.<br />
    <strong>Student ID:</strong>&nbsp;&nbsp;&nbsp;&nbsp;017 433 152 <br />
    <strong>Course:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INT422SBB
</p>

