@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This ASP.NET project uses multiple entities and apply the concept of navigation properties to show the association of entities.
</p>

<p>
    <strong>Programmer:</strong>&nbsp;&nbsp;ANCHETA, Jesus Jr.<br />
    <strong>Student ID:</strong>&nbsp;&nbsp;&nbsp;&nbsp;017 433 152 <br />
    <strong>Course:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INT422SBB
</p>

