@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASSIGNMENT 4</h1>
    <p class="lead">This web application shows how to use navigation properties (as collection and flattening). 
                   It uses also multiple entities.
    </p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment4.html" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>One to Many</h2>
        <p>
           When one object of an entity is associated to many objects of another entity. <br/>
           <em>e.g. Invoice has a collection of InvoiceLine.</em>
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Many to Many</h2>
        <p> Many objects of an entity is associated with many objects of another entity.<br/>
           <em>e.g. Tracks can be in different Playlist and Playlist can have several Tracks.</em>
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>