@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 9</h1>
    <p class="lead">Continue using security principles. Rich text handling. Working with non-text media types.</p>
    <p><a href="http://janchetajr-wa2016-a9.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Assignment 9 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objectives</h2>
        <ul>
            <li>Continue using security principles</li>
            <li>Working with internet media types</li>
            <li>Rich text handling</li>
            <li>Post to a public web server</li>
        </ul>
    </div>
    
    <div class="col-md-8">
        <h2>Tasks included in this project</h2>
        <ol>
            <li>Modify the data model, to add a class for role claims</li>
            <li>Modify the Register() methods in the Account controller to use the new class</li>
            <li>Modify the data model, to accomodate lengthy text fields in the Artist and Album entity classes</li>
            <li>Implement “add new”, “edit existing” and “delete” for these entity classes, to support rich text entry</li>
            <li>Implement “get…” views to display objects that have rich text</li>
            <li>Modify the data model, to accommodate non-text media types in the Artist and Track entity classes</li>
            <li>Support add and display of the richer-looking objects</li>
            <li>Implement security-related concepts</li>
        </ol>
    </div>
</div>